[submodule "Notebooks/PowerShell/Microsoft/Security/Defender/External"]
	path = Notebooks/PowerShell/Microsoft/Security/Defender/External
	url = https://github.com/microsoft/Microsoft-365-Defender-Hunting-Queries
