[submodule "Notebooks/PowerShell/Microsoft/Security/Defender/External Repos/Defender-Hunting-Queries"]
	path = Notebooks/PowerShell/Microsoft/Security/Defender/External Repos/Defender-Hunting-Queries
	url = https://github.com/microsoft/Microsoft-365-Defender-Hunting-Queries
